@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bebas+Neue&family=Lobster&family=Merriweather&family=PT+Serif&family=Roboto&family=Rubik+Spray+Paint&family=Secular+One&family=Shrikhand&display=swap");
.home-img {
  font-family: 'Roboto';
  width: 100%;
  margin-top: -115px;
  img {
    width: 100%;
    object-fit: fill;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
  }
}
.home-text-block {
  width: 100%;
  max-width: 675px;
  position: relative;
  bottom: 570px;
  color: white;
  margin: -50px auto auto 200px;

  h3 {
    margin: auto auto 40px 5px;
    font-size: 30px;
  }
  h1 {
    font-size: 70px;
    font-weight: 800;
  }

  .order-btn-block {
    width: 200px;
    .btn-order-now {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      padding: 8px 10px;
      font-size: 20px;
      border-radius: 15px;
    }
    & :hover {
      cursor: pointer;
      background-color: #fbf5df;
    }
  }
}
